<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>95470027554-dblg8jaji32i8jum5s72e3redlpmpthm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95470027554-dblg8jaji32i8jum5s72e3redlpmpthm</string>
	<key>API_KEY</key>
	<string>AIzaSyDR39uHSPN5fvg6escE8jKl2T5YCiDdTLI</string>
	<key>GCM_SENDER_ID</key>
	<string>95470027554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pey.unifiednotifications</string>
	<key>PROJECT_ID</key>
	<string>unifiednotifications-8e613</string>
	<key>STORAGE_BUCKET</key>
	<string>unifiednotifications-8e613.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95470027554:ios:047bdeb6735ab526</string>
	<key>DATABASE_URL</key>
	<string>https://unifiednotifications-8e613.firebaseio.com</string>
</dict>
</plist>