<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>734442418094-6ah70k2phe4208ce5l3136c3a9v0dpik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734442418094-6ah70k2phe4208ce5l3136c3a9v0dpik</string>
	<key>API_KEY</key>
	<string>AIzaSyAYJXMKEWM_ZfJJcYjt00yq2a8F5wnHcss</string>
	<key>GCM_SENDER_ID</key>
	<string>734442418094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bosch.effilinkinspections</string>
	<key>PROJECT_ID</key>
	<string>effilinkinspection</string>
	<key>STORAGE_BUCKET</key>
	<string>effilinkinspection.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734442418094:ios:291da8ffb2defd13</string>
	<key>DATABASE_URL</key>
	<string>https://effilinkinspection.firebaseio.com</string>
</dict>
</plist>